html, body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
canvas {
  display: block;
}

h1, h2 {
  color: rgb(132, 23, 63);
  text-align: center;
}

main {
 background-color: rgb(130, 168, 155);
 padding-top: 10px;
}

a:hover {
  color:red ;
} 

a {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

img {
  display: block;
  
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 7vh;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  
}

ul {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
 text-align: center;
}